.wrapper {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 9px;
}

.link {
  cursor: pointer;
}

.link ~ .link {
  margin-left: 10px;
}

.link:hover {
  border-bottom: 2px solid #6B87A4;
}
